.Header{
    height:250px;
    overflow:auto;
  
}
.express{
    margin-left: 180px;
    margin-top: 30px;
}
.result{
    margin-left: 190px;
    margin-top: 30px;
    
   



}
@media screen and (max-width:600px) {
    .Header{
        height: 300px;
    
   }}
